.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
   padding: 80px 0;
   font-family: 'Merriweather', 'Arial', serif;
}

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Oswald', 'Arial', sans-serif;
}

.jumbotron {
  background-color: inherit;
  text-align: center;
  color: #5d5d5d;
}

.introduction-jumbo {
  color: #f1dcc9;
}

/*/ ------------------------------------------------------------ /*/
/*/ -------------------- SECTION-ORIGINS ----------------------- /*/
/*/ ------------------------------------------------------------ /*/

.section-origins {
  background-color: #f1dcc9;
}

.image-title {
  height: 200px;
  width: auto;
}

.presentation {
  margin: 40px 0;
}

/*/ ------------------------------------------------------------ /*/
/*/ -------------------- SECTION-USA --------------------------- /*/
/*/ ------------------------------------------------------------ /*/

.immigration-jumbo {
  color: #f1dcc9;
}

/*/ ---------------------------------------------------------------- /*/
/*/ -------------------- SECTION-COLLEGE --------------------------- /*/
/*/ ---------------------------------------------------------------- /*/

.section-college {
  background-color: #f1dcc9;
}

/*/ ---------------------------------------------------------------- /*/
/*/ -------------------- SECTION-SWAP ------------------------------ /*/
/*/ ---------------------------------------------------------------- /*/

.section-swap {
  background-color: inherit;
}

.swap-jumbo {
  color: #f1dcc9;
}

/*/ ------------------------------------------------------------------------ /*/
/*/ -------------------- SECTION-ONLINE-CLASS ------------------------------ /*/
/*/ ------------------------------------------------------------------------ /*/

.section-online-class {
  background-color: #f1dcc9;
}

/*/ ------------------------------------------------------------------------ /*/
/*/ -------------------- SECTION-ONLINE-CLASS ------------------------------ /*/
/*/ ------------------------------------------------------------------------ /*/


.love-jumbo {
  color: #f1dcc9;
}
